{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:import/typescript"
  ],
  "plugins": ["@typescript-eslint", "lodash", "prettier", "import"],
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "prettier/prettier": "error",
    "lodash/import-scope": [2, "method"],
    "no-console": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "_+"
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": ["builtin", "external", "internal", ["parent", "sibling", "index"]]
      }
    ],
    "import/first": "error",
    "import/no-duplicates": "error",
    "import/newline-after-import": "error",
    "import/no-mutable-exports": "warn",
    "import/export": "warn",
    "import/no-useless-path-segments": "error",
    "import/no-self-import": "error",
    "import/no-absolute-path": "error"
  }
}
